<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><strong> <span class="title">{{albumName | titlecase}}</span> PHOTO'S</strong> </h3>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let photos of userPhotos | slice:0:5; let i=index">
      <div class="card">
        <div class="card-header">{{ photos.title | titlecase }}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"> <img class="img-height" [src]="photos.thumbnailUrl"></div>
            <div class="col-md-8">
              <span><a href="{{photos.url}}" target="target_blank">View Image</a> </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
